---
layout: layout.njk
title: What i'm doing now
---

<h1 class="text-center font-bold text-2xl underline decoration-double orange-950 mb-5">{{title}}</h1>
<div class="text-center">
    <h2 class="font-bold text-xl border-b-2 border-dotted hover:border-solid border-orange-950 inline">Reading 📖</h2>
</div>
